
body {
    background: lightgoldenrodyellow;
    background-image: url("../images/bg-body.png");
}

section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.navbar {
    width: 100vw;
    background-color: rgb(252, 249, 216);
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 60px;
    font-size: 36px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
    font-size: 30px;
}

.card {
    background-color:rgb(252, 249, 216); 
    padding: 10px; 
    margin: 80px auto;
    width: 60vw;
}
#about {
    height: calc(100vh - 60px);
}
